%h2 Details about #{@book.title}

%ul#details
  %li
    ISNB Nnumber:
    = @book.isnb_number
  %li
    Genre:
    = @book.genre
  %li
    Published on:
    = @book.publish_date.strftime("%B %d, %Y")
  %li
    Author:
    = @book.author
    
%h3 Description:

%p#description= @book.description

= link_to 'Edit Book', edit_book_path(@book)
= link_to 'Go back to listing ', books_path
= link_to 'Delete', book_path(@book), :method => :delete
= link_to 'Find Books With Same Author', search_similar_books_path(@book)
